<div class="row">
  <div class="col-md-8">
    <form id="userProfileForm" autocomplete="off" [formGroup]="profileForm" (ngSubmit)="save(profileForm.value)" class="form-horizontal" role="form" novalidate>
      <fieldset>
        <legend>User information</legend>

        <div class="form-group" [ngClass]="{'invalidField':firstNameIsInvalid()}">
          <label class="col-sm-5 control-label" for="textinput">First Name</label>
          <div class="errorMessageContainer pull-right">
              <em *ngIf="firstNameIsInvalid() && profileForm.controls.firstName.errors.required">Required*</em>
              <em *ngIf="firstNameIsInvalid() && profileForm.controls.firstName.errors.pattern">Must start with a letter*</em>
          </div>      
          <div class="col-sm-7">
            <input formControlName="firstName" type="text" placeholder="First Name" class="form-control">
          </div>
        </div>

        <div class="form-group" [ngClass]="{'invalidField':lastNameIsInvalid()}">          
          <label class="col-sm-5 control-label" for="textinput">Last Name</label>
          <div class="errorMessageContainer pull-right">
              <em *ngIf="lastNameIsInvalid()  && profileForm.controls.lastName.errors.required">Required*</em>
              <em *ngIf="lastNameIsInvalid() && profileForm.controls.lastName.errors.pattern">Must start with a letter*</em>
          </div>
          <div class="col-sm-7">
            <input formControlName="lastName" type="text" placeholder="Last Name" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="pull-right">
              <button type="submit" (click)="cancel()" class="btn btn-default">Cancel</button>
              <button [disabled]="!authService.isAuthenticated() || profileForm.invalid" type="submit" (click)="save()" class="btn btn-primary">Save</button>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>